
<body>
    <div class="container">
      <div class="calc-screen">
        <div class="calc-input">0</div>
        <div class="calc-result">0</div>
      </div>
  
      <div class="calc-keys">
        <div class="row">
          <div class="key col-xs-3"><a id="/" href="#">/</a></div>
          <div class="key col-xs-3"><a id="(" href="#">(</a></div>
          <div class="key col-xs-3"><a id=")" href="#">)</a></div>
          <div class="key col-xs-3"><a id="C" href="#">C</a></div>
        </div>
        <div class="row">
          <div class="key col-xs-3"><a id="+" href="#">+</a></div>
          <div class="key col-xs-3"><a id="7" href="#">7</a></div>
          <div class="key col-xs-3"><a id="8" href="#">8</a></div>
          <div class="key col-xs-3"><a id="9" href="#">9</a></div>
        </div>
        <div class="row">
          <div class="key col-xs-3"><a id="-" href="#">-</a></div>
          <div class="key col-xs-3"><a id="4" href="#">4</a></div>
          <div class="key col-xs-3"><a id="5" href="#">5</a></div>
          <div class="key col-xs-3"><a id="6" href="#">6</a></div>
        </div>
        <div class="row">
          <div class="key col-xs-3"><a id="X" href="#">X</a></div>
          <div class="key col-xs-3"><a id="1" href="#">1</a></div>
          <div class="key col-xs-3"><a id="2" href="#">2</a></div>
          <div class="key col-xs-3"><a id="3" href="#">3</a></div>
        </div>
        <div class="row">
          <div class="corner-key left col-xs-6"><a id="=" href="#">=</a></div>
          <div class="corner-key middle col-xs-3"><a id="0" href="#">0</a></div>
          <div class="corner-key right col-xs-3"><a id="." href="#">.</a></div>
        </div>
      </div>
    </div>
  </body>
  